.wd-failed-macro,
.wd-expunged {
    background-color: currentColor;
}

.wd-failed-macro:hover,
.wd-expunged:hover {
    background-color: transparent;
}

.missing-link,
.missing-link>.hljs {
    color: var(--sidebar-non-existant) !important;
}

.missing-link:hover,
.missing-link>.hljs:hover {
    color: var(--searchbar-fg) !important;
}

a[href*="//"]::before {
    content: "🌐";
    width: 16px;
    height: 16px;
    margin-right: 4px;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.bc__table-wrapper {
    overflow: auto;
}

.wd--interactive-example.is-tabbed-shorter-height {
    height: 350px;
}

.wd--interactive-example {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-width: 1px;
    border-color: var(--quote-border);
}

.wd--interactive-example.is-tabbed-standard-height {
    height: 530px;
}

.wd--interactive-example.is-default-height {
    height: 385px;
}

.ais-SearchBox-form {
    font-size: 2rem;
    height: 50px;
}

#hits {
    border-color: var(--searchresults-border-color);
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    top: 50px;
    max-height: calc(100vh - 50px);
    position: fixed;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s;
    width: 100vw;
}

#hits:not(.active) {
    max-height: 0px;
}

.ais-Hits-item,
.ais-InfiniteHits-item {
    color: var(--fg);
    background-color: var(--searchresults-li-bg);
    padding: 0;
}

.ais-Hits-item>a,
.ais-InfiniteHits-item>a {
    padding: 1.5rem;
    text-decoration: none;
    width: 100%;
}

.ais-Hits-item>a:hover,
.ais-InfiniteHits-item>a:hover {
    text-decoration: underline;
}

#searchbox.active {
    position: fixed;
    right: 50px;
    left: 0;
    z-index: 20;
}

.close-button {
    display: none;
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
}

.close-button::before {
    content: "×";
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
}

#hits.active+.close-button {
    display: block;
}

.ais-SearchBox-form::before {
    height: 16px;
    width: 16px;
}

.ais-SearchBox-input {
    background-color: var(--searchbar-bg);
    border-color: var(--searchbar-border-color);
    box-shadow: var(--searchbar-shadow-color) 0 1px 4px 0 inset;
    color: var(--searchbar-fg);
    padding-left: 4rem;
}

#formalnyi-syntaksys+pre {
    white-space: initial;
}


.ais-Highlight-nonHighlighted {
    background-color: transparent;
    color: currentColor;
}

.sample-code-frame {
    width: 100%;
    max-width: 100%;
    border-width: 1px;
    border-color: var(--quote-border);
    padding: 0.5rem;
}

.notecard {
    --note-background: var(--theme-popup-bg);
    --note-theme: var(--sidebar-active);
    background-color: var(--quote-bg);
    border: 1px solid var(--quote-border);
    border-left: 4px solid var(--warning-border);
    border-radius: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(43, 42, 51, .05);
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}

.notecard:first-of-type {
    margin-top: 2rem;
}

.notecard:last-of-type {
    margin-bottom: 2rem;
}

.notecard,
.notecard li,
.notecard p {
    color: var(--text-secondary);
}

.notecard.nonstandard {
    --note-background: var(--background-warning);
    --note-theme: var(--icon-warning);
}

.notecard.nonstandard {
    --note-background: var(--background-warning);
    --note-theme: var(--icon-warning);
}

.notecard.deprecated {
    --note-background: var(--background-warning);
    --note-theme: var(--icon-warning);
    border-left-color: #E23645;
}

.hljs {
    text-wrap: balance;
}

.interactive {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 0.25rem;
    color: var(--text-primary);
    height: 675px;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}

.interactive.is-js-height,
.interactive.is-taller-height,
.interactive.is-shorter-height {
    border: 0 none;
}

.interactive.is-js-height {
    height: 513px;
}

.interactive.is-shorter-height {
    height: 433px;
}

.interactive.is-taller-height {
    height: 725px;
}

.interactive.is-tabbed-shorter-height {
    height: 487px;
}

.interactive.is-tabbed-standard-height {
    height: 548px;
}

.interactive.is-tabbed-taller-height {
    height: 774px;
}

@media screen and (min-width: 688px) and (max-width: 768px),
screen and (min-width: 1008px) {
    .interactive {
        height: 375px;
    }

    .interactive.is-js-height {
        height: 444px;
    }

    .interactive.is-shorter-height {
        height: 364px;
    }

    .interactive.is-taller-height {
        height: 654px;
    }

    .interactive.is-tabbed-shorter-height {
        height: 351px;
    }

    .interactive.is-tabbed-standard-height {
        height: 421px;
    }

    .interactive.is-tabbed-taller-height {
        height: 631px;
    }
}

.example-bad {
    background-color: color-mix(in oklab, red 15%, var(--bg))
}