<div class="code-example">
    <p class="example-header"></p>
    <iframe
        class="{{ .Class }}"
        height="{{ .Height }}"
        id="frame_{{ .Id }}"
        sandbox="allow-scripts allow-same-origin"
        src="{{ .Url }}"
        title="{{ .Title }}"
        width="{{ .Width }}"
    ></iframe>
</div>